# FIXME: Configure environment variables for your project

# For security reason, don't push secret key in your git repo.
# Append .local to the environement files to prevent your secret key from being commited to Git.

# Hosting
# Replace by your domain name
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database
# Please use a working DATABASE_URL. Otherwise, Next.js build will timeout and you will get the following error: "because it took more than 60 seconds"
# DATABASE_URL=libsql://[RANDOM-CHARS]-[DB-NAME]-[ORG-NAME].turso.io
DATABASE_URL="file:next14-boilerplate.db"
DATABASE_AUTH_TOKEN="ipC7ESKlyOSyYOpJuYVDe8A2IfTinj5rBcJrQV8+uAc="
ANALYZE=false
NEXTAUTH_URL=http://localhost:3000
#REDIS_URL=redis://localhost:6379 # Redis URL for session storage (Please make sure to run Redis server locally, If you have redis running locally, then uncomment this line) 
NODE_ENV=development
DB_MIGRATIONS_ENABLED=true
REDISMS_PORT=6379
TURBO_TELEMETRY_DISABLED=1 # Disable Turbo telemetry
NEXT_TELEMETRY_DISABLED=1 # Disable Next.js telemetry

######## [BEGIN] SENSITIVE DATA ######## For security reason, don't update the following variables (secret key) directly in this file.
######## Please create a new file named `.env.local`, all environment files ending with `.local` won't be tracked by Git.
######## After creating the file, you can add the following variables.
# Generate a random string using this command openssl rand -base64 32
NEXTAUTH_SECRET="gJ0JwJC6wgtOEZtEr4HjY1nUCYvqXFfXxzGsr1Kt9LM="

# LOGTAIL_SOURCE_TOKEN=
######## [END] SENSITIVE DATA
